doctype
html
    head
    meta(charset="utf-8")
    body
        div(class="main page")#div1
            ul.list
                li aaaa
                li bbbb
                li cccc
            p.
                adfgvadvg
                dfbvdsf
                dfbsdfbv