<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        /*
        1.express
            ----使用安装  cnpm i express -D
            特点：入门简单，做东西麻烦----依赖于回调函数
            核心----使用中间件（中间件可自己封装module，函数方法），router 
            express是非破坏式的框架，会尽量保留原生的nodejs的方法和用法
        2.koa
            ----入门麻烦，做东西简单
            ----依赖于generator/async

        3.express使用，创建服务器
            ----1.引入模块
                    const express=require('express')
            ----2.创建server的服务器  
                    let server=express()
                    server.listen(8080);
            ----3.书写请求
                ---第一个参数必须是req，然后是res
                ---浏览器可看get请求，只有表单提交才能查看post请求
                    server.get('/aaa',(req,res,next)=>{
                        console.log('jjjjjjj')
                        next()
                    })  ----请求书写get请求
                    server.post('/uploa',(req,res,next)=>{}) ----书写post请求
                    server.use('/xxx',(req,res,next)=>{})   -----请求方式不限制，get,post都行
                    ---
                    server.get((req,res,next)=>{})  ----只要是get请求，都触发
                    server.post((req,res,next)=>{}) ----只要是post请求，都触发
                    server.use((req,res,next)=>{})  ----只要是请求都触发

                    ----use()方法也可使用中间件---use(express.static())
                    ----req  获取请求信息
                    ----res  设置后台向前台发送信息
                    ----next()  是否执行下一步,路由中使用
                        ----应用场景：类似于数据验证，是否执行下一步
                                      相同的请求/a，如果没有next(),只会执行第一个
            

            ----4.书写响应内容
                    ----若无响应内容，则服务没有下一步，一直在加载，俗称：挂起
                        ---res.end()加不加无所谓

                    ----res.write()------不能书写数组，对象等复杂数据类型

                    ----res.send('ggggggg');*-----express中的send()都可以书写，包括数组和对象等

                    ----书写状态码设置header
                            ----res.sendStatus(404)
                            ----类似于原生中的
                                res.writeHeader(404);
                                res.write('Not Found');
                                res.end();

                    server.get('/aaa',(req,res,next)=>{
                        res.write('ggggggg'); 
                        res.send([1,2,2,3]);
                        res.sendStatus(200)
                        res.end()
                    }) 

        4.express读取文件（使用中间件）
            ----使用express的static中间件
                ----读取静态文件，不过是没有选择的返回文件，只要是文件都会返回
                ----关于原生nodejs中的压缩gzip，缓存304等都已解决
                ----通过server.use(中间件)的方法
                    server.use(express.static('/www'));
            ----express的方法res.sendFile();
                    ----读取文件并返回，不过是有选择的返回和读取，符合条件的才能读取并返回
                        ----例如只有管理员才能读取某文件
                    特点：只能书写绝对路径（从根目录读取），可通过path模块的path.resolve('/a.txt')方法转换路径
                            绝对路径比相对路径安全

        5.express的中间件
            作用：
                1.类似于插件，补充框架的功能
                2.流水线，带有步骤，一步一步,什么都得过这里，里面使用的是next()
                3.中间件存在顺序
                4.原理中使用的是next();
                    ---即一个nodejs中一般是加载完中间件后，才会进行下一步的操作，此时将会使用的是next();
                    ---使用body-parser的中间件，获取post请求提交的数据
                        const body=require('body-parser');
                        server.use(body.urlencoded({extended:false}));
                        server.post('/upload',(req,res,next)=>{
                            console.log(req.body)
                        })

        6.express的方法
            ---响应方法
            res.send()
            res.sendFile('a.txt')
            res.sendStatus(500)
            res.redirect('http://www.baidu.com');
                ---重定向
                ---例如将localhost:8080/a 重定向到http://www.baidu.com
                
        7.express的数据交互post,get
            get:
                ---获取前台传递的数据
                    req.query
            post:
                ---获取前台传递提交的数据
                    ---使用中间件body-parser获取
                        ---cnpm i body-parser -D
                        const body=require('body-parser');
                        server.use(body.urlencoded({extended:false}))
                        server.post('/upload',(req,res,next)=>{
                            console.log(req.body)
                        })

        8.处理文件的post提交(上传文件)
            ---使用的是模块中间件multer
                ---处理post提交的文件数据 格式multipart/form-data
            ---步骤
                1.安装 cnpm i multer -D
                2.使用中间件
                    const multer=require('multer');
                    server.use(multer({dest:'文件路径uplooad/'}).any())  //.any()表示任何文件都可以接收和读取
                    server.ppst('/upload',(req,res,next)=>{
                        console.log(req.files)   //代表是文件的信息和内容
                        console.log(req.body)    //代表是body中的基本信息，表单中的普通表单提交的数据
                    })

        9.处理cookie和session
            ----(用处：记录用户登录状态)
                    --当cookie中存在用户数据时，请求session，session存储信息，可对信息进行修改，并返回一个有sess_id的
                    cookie，当session对存储的信息进行了修改，此时传过来的用户的信息将会失效切不匹配
            ----cookie是一个会话级的存储，大小 4KB 左右，用于浏览器将服务器设置的信息重新带给服务器进行验证，不支持跨域，
                    在浏览器清空缓存或超过有效期后失效，不能存放敏感信息，session 是专门用于存储最初设置给浏览器 cookie
                    数据的地方
            ----一般情况下，浏览器的网站如果是处于一种刚注册的‘新人’状态，第一次访问服务器时，会发给服务器一个cookie,
                通过服务器后，session会下发一个秘钥sess_id给cookie,服务器返回给浏览器一个cookie,cookie中就会存在一
                个sess_id(session的id表明身份)。
                下次访问时，浏览器将会将cookie带给服务器，服务器此时将会根据sess_id辨别身份

            ----原理：
                --客户端首先会请求Session，而当服务端检查客户端中的Cookie没有相应的Session id时，会通过-一定方式为其
                生成一个新的Session id, 而如果Cookie中存在该Session id并且没有过期时，则直接返回Session数据。
            
            ----cookie-parser的步骤：
                1.安装cookie-parser
                    cnpm i cookie-parser -D
                2.使用中间件
                    const cookieParser=require('cookie-parser');
                    server.use(cookieParser({}));
                    server.get('/a',(req,res,next)=>{
                        console.log(req.cookies);   //接收cookie,其方法是cookieParser中的，通过其中间件进行接收
                        res.cookie('a',12,{配置项}); //通过express中的本身方法进行发送，但其本身并不能接收
                        res.cookie(名称，值，{配置项})
                    })
                3.cookie防篡改（签名）
                    1.cookieParser中的配置项中添加秘钥
                        server.use(cookieParser(
                            'akbargvlregvle'
                        ));
                    2.发送的cookie中---加密
                        res.cookie('c',33,{signed:true})  //代表加密存在签名

                    3.中间件中会将cookie的内容和添加的秘钥进行一次运算，得出‘签名’，通过签名实现防篡改
                        console.log(req.signedCookies) //获取签名的cookie
            
            --cookie-session（借助cookie来实现的session）的步骤：
                1.安装
                    cnpm i cookie-session -D
                2.使用cookie-session
                    const cookieSession=require('cookie-session');
                    server.use(cookieSession({
                        keys:['jkdbfvjd','dkfjvni','uioreger'....], //keys是一个数组，添加keys，实现签名，增加session的安全性
                        secret:'fdbsdffdb'   //也可手动添加keys,但安全性比keys差点
                    }))
                    server.get('/a',(req,res,next)=>{
                        console.log(req.session) //获取session
                    })
                3.实现通过session来判断网站访问次数
                    server.get('/a',(req,res,next)=>{
                        // console.log(req.session)
                        if(!req.session['count']){
                            req.session.count=1;
                        }else{
                            req.session.count++;
                        }
                        res.send(`欢迎您${req.session.count}来访`)
                        res.end();
                    })

            --session劫持攻击方式
                通过获取其他用户的cookie的sess_id，通过此sess_id来通过服务器的校验
        
        10.路由
            ----根据不同的地址url的不同，调用不同的代码
            ----路由调用是从上到下依次执行
            ----步骤
                1.创建路由
                    let articleRouter=express.Router();
                2.指定什么时候使用此路由
                    server.use('/article',articleRouter); //当路径是/article的时候使用此路由
                3.创建路由列表和内容
                    articleRouter.get('/',(req,res,next)=>{  //----/article
                        res.send('文章首页')
                    })
                    articleRouter.get('/:id',(req,res,next)=>{  //----/article/123
                        res.send('文章内容')
                    })
                    articleRouter.get('/:id/comment',(req,res,next)=>{  //----/article/123/comment
                        res.send('文章评论')
                    })
                    articleRouter.get('/:id/edit',(req,res,next)=>{   //----/article/123/edit
                        res.send('文章编辑')
                    })
                4.路由和路由之间可以进行嵌套
                    let aaaRouter=express.Router();  //创建aaaRouter的路由
                    articleRouter.use('/aaa',aaaRouter);  //当article后的地址是/aaa时，使用aaaRouter
                    
                    aaaRouter.get('/a',(req,res,next)=>{  //当article的路径后是/aaa时，调用aaaRouter---/article/aaa/a
                        res.send('a')
                    })
                    aaaRouter.get('/b',(req,res,next)=>{  //---/article/aaa/b
                        res.send('b');
                    })
                    aaaRouter.get('/c',(req,res,next)=>{  //---/article/aaa/c
                        res.send('c');
                    })
                5.可将多个路由拆分为多个路由文件，然后需要用的时候直接require('./routes/aaa')引入
                    --步骤：
                        1.将相应模块进行拆分，主文件中只保留调用,将创建的路由名换成调用require('')
                            主文件：
                                旧：server.use('/article',articleRouter); 
                                新：server.use('/article',require('./routes/article'))
                        2.拆分的文件模块中，最后必须暴露出来,否则require不生效
                            module.exports=router;

                6.路由是从上到下，可设置404判断
                    主文件中：
                    server.use((req,res,next)=>{
                        res.send('404，请求无法找到')
                    })


        11.服务器渲染
            ----后端渲染：生成html
                    优点：安全，稳定，利于SEO，渲染页面加载数据快
            ----前端渲染: 生成html
                    优点：体积更小，灵活（便于修改数据），不安全，不利于SEO
            ----浏览器渲染：
                    ----输入url===>加载===>下载html，css,js等===>渲染（通过某种工具画出来）

        12.模块化
            任何语言（除了js）都自带了模块系统，所以不存在真正意义上的全局变量
            模块系统一般遵循CMD规范（公共模块定义）：
                exports.a=xxxx  
                require('../a.txt') 
                module.exports={
                    a=4,b=5
                } 
            前端（带有模块系统的框架）：
                vue,,angular,,react等------对js的一种补充
            后端（nodejs）：自带模块系统

        13.nodejs服务端渲染（js模板引擎）
            --使用服务端渲染框架
                ejs:非破坏式框架--保留html原本结构
                    --使用
                        const ejs=require('ejs');
                        ejs.renderFile('./template/ejs/1.html',{
                            a:12,b:23,
                            path:'component/page/footer'
                        }).then(data=>{
                            console.log('渲染成功')
                            console.log(data)
                        },err=>{
                            console.log('渲染失败')
                            console.log(err)
                        })
                        --ejs.renderFile('path编译文件路径',{需要渲染的数据}).then(data=>{
                            console.log(data) //渲染成功的data模板数据
                        },err=>{
                            console.log(err) //渲染失败时的err
                        })
                        --编译的html文件
                            --所有的需要编译渲染的数据都是用<% %>实现
                            --几乎所有的js语法都可以使用，就是js模板引擎
                                --输出
                                    --转义输出：<%= xxx%> ---适用于其渲染的字符串中不存在html字符串
                                    --非转义输出：<%- xxx%> ---适用于其渲染的字符串中存在html字符串
                                --引入公共模板
                                    <%- include('component/footer.html')%>
                                    -- <%- include('path公共模板的路径')%>
                                    --公共模板的路径同样可以设置成一个变量，保存在ejs.js中
                                        --<%- include('path')%>
                pug:破坏式框架--会破坏html的结构
                    --以缩进来规范层级（父元素，子元素）
                    --使用
                        const pug=require('pug');
                        console.log(pug.renderFile('./pug/1.pug',{
                            pretty:true
                        }))
                        --pug.renderFile('path编译文件路径',{
                            pretty:true   //编译后的文件是否换行凸显html结构
                        })
            --步骤
                1.安装
                    cnpm i ejs pug -D
                    
        
       }*/
    </script>
</body>
</html>